@mixin pagesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.pages {
  width: 100%;
  height: 100%;
  background-color: #040404;
  display: flex;
  justify-content: center;
  flex: 0 0 10%;
  transition:
    flex-basis 0.3s ease,
    background-color 1s ease;
  padding-left: 38px;

  &_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    height: 100vh;

    &_icons {
      @include pagesItem;
      align-items: flex-start;
      flex-direction: row !important;
      padding-top: 20px;

      &_column {
        @include pagesItem;

        &_item {
          @include pagesItem;
          height: 50px;
          flex-direction: row;

          &_home {
            border-radius: 50%;
            width: 82px;
            height: 82px;
            background-color: #3b486d;
            display: flex;
            justify-content: center;
            align-items: center;

            &.homeIcon {
              background: none;
              width: auto;
              height: 50px;
              box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
            }
          }
          > img {
            height: auto;
          }
        }
      }

      &_text {
        @include pagesItem;
        align-items: flex-start !important;
        background-color: inherit;
        opacity: 0;
        max-width: 0;
        overflow: hidden;
        transform: translateX(-20px);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease,
          max-width 0.4s ease;

        &_item {
          display: flex;
          align-items: flex-start;
          column-gap: 20px;
          text-decoration: none;
          font-size: 30px;
          height: 50px;
          color: #f1f1f1;
          white-space: nowrap;
        }

        &.textExpanded {
          opacity: 1;
          max-width: 200px; // enough to show text
          transform: translateX(0);
          overflow: visible;
        }
      }
    }
  }
  &_footer {
    @include pagesItem;
    align-items: flex-start !important;
    position: absolute;
    gap: 0;
    top: 85%;
    left: 38px;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    > span {
      text-transform: uppercase;
      color: #858688;
      font-size: 24px;
      font-weight: bold;
    }
  }

  &_footer.footerExpanded {
    opacity: 1;
    transform: translateY(0);
  }
}
